h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: tomato;
}

table {
    border: 1px solid black;
    border-spacing: 1.5 rem;
    background-color: #9f9f9f;
}

tr:nth-child(even) {
    background-color: aquamarine;
}
th {
    border: 1px solid turquoise;
    text-align: center;
}

td {
    border: 1px solid lawngreen;
    text-align: center;
}


li a {
    font-size: 1.5em;
    color: green;
}

li a:hover {
    text-decoration: none; 
    color: tomato;
}

blockquote {
    background-color: #9f9f9f;
    color: #333;
}
